<footer class="bg-light footer mt-auto py-3">
  <div class="container d-flex justify-content-between mx-auto text-muted">
    <ul class="d-inline float-end list-inline mb-0">
      <li class="list-inline-item mr-3">
      <a href="https://github.com/lhjd/vaccination-center-backend" target="_blank">Source Code</a>
      </li>
    </ul>
  </div>
</footer>