


<div class="row">
  <div class="col-sm-6">
    <h1>Nurses</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_nurse_path, class: 'btn btn-primary' do %>
    Add New Nurse
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Center</th>
            
      </tr>
    </thead>

    <tbody>
      <% @nurses.each do |nurse| %>
        <%= content_tag :tr, id: dom_id(nurse), class: dom_class(nurse) do %>
          
            <td><%= link_to nurse.name, nurse %></td>
          

                      <td><%= nurse.center %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
